<%= form_for(@aula, :html => {:multipart => true}) do |f| %>
  <% if @aula.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@aula.errors.count, "erro impediu", "erros impediram") %> a aula de ser salva:</h4>

      <ul>
      <% @aula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="alert alert-info">
    <%= f.label :curso %>
    <%= f.hidden_field :curso_id %>
	<%= @aula.curso.nome%>
  </div>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :resumo %>
    <%= f.text_area :resumo, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :conteudo %>
    <%= f.text_area :conteudo, :class=>"ckeditor" %>
  </div>
  <div class="field">
    <%= f.label :teste %>
    <%= f.file_field :teste %>
	<p class="text-error"> Somente arquivos com a extensão .rb</p>
  </div>
  <div class="form-actions">
    <%= f.submit 'Salvar', :class => "btn btn-primary"%>
  </div>
<% end %>
