<h1>Listing aulas</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Resumo</th>
    <th>Conteudo</th>
    <th>Curso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aulas.each do |aula| %>
  <tr>
    <td><%= aula.titulo %></td>
    <td><%= aula.resumo %></td>
    <td><%= aula.conteudo %></td>
    <td><%= aula.curso %></td>
    <td><%= link_to 'Show', aula %></td>
    <td><%= link_to 'Edit', edit_aula_path(aula) %></td>
    <td><%= link_to 'Destroy', aula, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aula', new_aula_path %>
