<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @aula.titulo %>
</p>

<p>
  <b>Resumo:</b>
  <%= @aula.resumo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @aula.conteudo %>
</p>

<p>
  <b>Curso:</b>
  <%= @aula.curso.nome %>
</p>


<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Voltar para aulas', @aula.curso %>
