<% if notice%>
<div class="alert">	
	<p id="notice"><%= notice %></p>
</div>
<% end %>

<%= link_to 'Editar Aula', edit_aula_path(@aula), :class => "btn btn-warning" %>
<%= link_to 'Voltar para aulas', @aula.curso, :class => "btn btn-primary" %>
<div class="hero-unit">
<h1>
  <%= @aula.titulo %>
</h1>
<h4>
  <b>Curso:</b>
  <%= @aula.curso.nome %>
</h4>

<div class="alert alert-info">
  <h4>Resumo:</h4>
  <p><%= @aula.resumo %></p>
</div>
</div>
<h4>Conteudo:</h4>
  <%= raw(@aula.conteudo) %>





