<%= form_for @curso do |f| %>
  <% if @curso.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@curso.errors.count, "erro impediu", "erros impediram") %>  o curso de ser salvo:</h4>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao, :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :professor %>
    <%= f.collection_select(:professor_id, Professor.order('nome'), :id, :nome, {:prompt => true}) %>
  </div>
  <div class="field">
    <%= f.label :disponivel, "Disponível:" %>
    <%= f.check_box :disponivel %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Salvar', :class => "btn btn-primary" %>
  </div>
<% end %>
