<div class="form-actions">
	<%= link_to 'Adicionar um Curso', new_curso_path, :class => "btn btn-primary" %>
</div>

<h1>Lista dos Cursos</h1>

<table class="table table-bordered">
  <tr>
    <th>Nome</th>
    <th>Professor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nome %></td>
    <td><%= curso.professor.nome %></td>
    <td><%= link_to 'Ver+', curso, :class => 'btn btn-info' %></td>
    <td><%= link_to 'Editar', edit_curso_path(curso), :class => 'btn btn-warning' %></td>
    <td><%= link_to 'Apagar', curso, confirm: 'Você tem certeza?', method: :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
