<div class="hero-unit">

<h1>
  <%= @curso.nome %>
</h1>
<div class="alert alert-info">
<h4>Descrição:</h4>
<p>
  <%= @curso.descricao %>
</p>


<h4>Professor:</h4>
<p>
  <%= @curso.professor.nome %>
</p>
</div>
</div>

<% if current_professor%>
<%= render :partial => 'professor_view' %>
<%end%>

<% if current_aluno%>
<%= render :partial => 'aluno_view' %>
<%end%>
