<p id="notice"><%= notice %></p>

<div class="hero-unit">

<h1>
  <%= @curso.nome %>
</h1>
<div class="alert alert-info">
<h4>Descrição:</h4>
<p>
  <%= @curso.descricao %>
</p>


<h4>Professor:</h4>
<p>
  <%= @curso.professor.nome %>
</p>
</div>
</div>

<div class="form-actions">
	<%= link_to "Adicionar Aula", {:controller => "aulas", :action => "new", :id => @curso.id}, :class => 'btn btn-primary' %> 
	<%= link_to 'Editar Dados do Curso', edit_curso_path(@curso), :class => 'btn btn-warning' %>
	<%= link_to 'Voltar para lista de Cursos', cursos_path, :class => 'btn btn-primary' %>
</div>


<h4>Aulas Disponíveis</h4>
<table class="table table-bordered">
  <tr>
    <th>Título</th>
    <th>Resumo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aulas.each do |aula| %>
  <tr>
    <td><%= aula.titulo %></td>
    <td><%= aula.resumo %></td>
    <td><%= link_to 'Ver+', aula, :class => 'btn btn-info' %></td>
    <td><%= link_to 'Editar', edit_aula_path(aula), :class => 'btn btn-warning' %></td>
    <td><%= link_to 'Apagar', aula, confirm: 'Você tem certeza?', method: :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
