<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @curso.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @curso.descricao %>
</p>

<p>
  <b>Professor:</b>
  <%= @curso.professor %>
</p>


<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
