<h1>Lista dos Cursos</h1>

<table class="table table-bordered">
  <tr>
    <th>Nome</th>
    <th>Professor</th>
	<th>Disponível</th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nome %></td>
    <td><%= curso.professor.nome %></td>
	<td><%= curso.disponivel ? "Sim":"Não" %>
    <td><%= link_to 'Ver+', curso, :class => 'btn btn-info' %></td>
    <td><%= link_to 'Editar', edit_curso_path(curso), :class => 'btn btn-warning' %></td>
  </tr>
<% end %>
</table>