<!DOCTYPE html>
<html>
<head>
  <title>SiAC - Sistema de Apoio a Cursos</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="navbar  navbar-inverse">
	  <div class="navbar-inner">
		<%= link_to 'Início', root_path, :class => 'brand' %>
	    <ul class="nav">
		  	<% if aluno_signed_in? %>
		      <li><%= link_to 'Editar perfil', edit_aluno_registration_path %></li>
		      <li><%= link_to "Sair", destroy_aluno_session_path, method: :delete %></li>
		    <% else %>
		      <li><%= link_to "Cadastrar", new_aluno_registration_path %></li>
		      <li><%= link_to "Login", new_aluno_session_path %></li>
		    <% end %>
	    </ul>
	  </div>
	</div>
		<% if current_admin %>
			<div class="navbar">
			  <div class="navbar-inner">
				<ul class="nav">
					<%= link_to 'Admin', root_path, :class => 'brand' %>
					
					<li><%= link_to "Cursos", cursos_path %></li>
					<li><%= link_to "Professores", professors_path %></li>
					<li><%= link_to "Alunos", alunos_path %></li>
			<% if admin_signed_in? %>
	    	  <li><%= link_to 'Editar perfil', edit_admin_registration_path %></li>
	    	  <li><%= link_to "Sair", destroy_admin_session_path, method: :delete %></li>
	    	<% else %>
	    	  <li><%= link_to "Cadastrar", new_admin_registration_path %></li>
	    	  <li><%= link_to "Login", new_admin_session_path %></li>
	    	<% end %>
				</ul>
				</div>
			</div>
		<%end%>
		
		<% if current_professor %>
			<div class="navbar">
			  <div class="navbar-inner">
				<ul class="nav">
					<%= link_to 'Prof.', root_path, :class => 'brand' %>
					<li><%= link_to "Cursos", app_professor_path %></li>
			<% if professor_signed_in? %>
	    	  <li><%= link_to 'Editar perfil', edit_professor_registration_path %></li>
	    	  <li><%= link_to "Sair", destroy_professor_session_path, method: :delete %></li>
	    	<% else %>
	    	  <li><%= link_to "Login", new_professor_session_path %></li>
	    	<% end %>
				</ul>
				</div>
			</div>
		<%end%>
	    

	
	
<div class="row-fluid">
	<div class="span12">
		<% if notice %>
			<div class="alert alert-info">
				<%= notice %>
			</div>
		<%elsif alert%>
			<div class="alert alert-error">
				<%= alert %>
			</div>
		<%end%>
		<%= yield %>
		<hr/>
	</div>
</div>
</div>

<div class="progress">
  <div class="bar bar-success" style="width: 25%;"></div>
  <div class="bar bar-warning" style="width: 25%;"></div>
  <div class="bar bar-danger" style="width: 25%;"></div>
  <div class="bar bar-info" style="width: 25%;"></div>
</div>

<div class="container">
	<div class="span12">
		<%= image_tag "zaraz_logo.png", :title => "ZaraZ", :class => "pull-right" %>
	</div>
</div>
</body>
</html>
